
<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6347033-2");
  pageTracker._trackPageview();
  } catch(err) {}
</script>
      




<title>Contact me</title>
<br>
<p class="large">We are always happy to hear from you, you can contact me through this site using this link:
   <br/><%= link_to "Post a message", post_contact_path %></p><br/>
<p class="large"> or you can always contact me via email using this link: <br/>  <a href="mailto:jkropka@oneoriginalgeek.com">here</a></p>

