<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6347033-2");
  pageTracker._trackPageview();
  } catch(err) {}
</script>  

<p>Published by a coder with lots of experiences (both good and bad).</p>
  <p>Check out our blog, <a href="http://oneoriginalgeek.com/blog">Ramblings on Rails</a>- all about our experiences with contract Rails application development.
  <p> - the ups, the downs, the bursting paychecks, the busted paychecks</p>


