<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6347033-2");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

<p class="large"> After a long career as a hardware technician (hey I was writing DCL code on a DEC-10), then
    another equally long career as a software technician and then engineer - building applications with Microsoft technology
    (anyone else remember VB3?), OneOriginalGeek has spent the past seven years building websites on a contract basis, using
    PHP for a couple of years and then switching over to Ruby on Rails in 2005. </p>
<br/>
<p class="large">This site is published by a coder with lots of experiences (both good and bad).
  You can check out some of my experiences if you visit the blog, &nbsp; <a href="http://blog.oneoriginalgeek.com"> Ramblings on Rails</a> -
  .



