<script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6347033-2");
  pageTracker._trackPageview();
  } catch(err) {}
</script>

<center><h1>Privacy Policy</h1></center>
<br/>
<p> Whatever you say here stays here (as far as I'm concerned)</p>
