<div id="menu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><a href="http://blog.oneoriginalgeek.com">Blog</a> </li>
    <li><%= link_to "Contact", contact_path%></li>
    <li><%= link_to "Portfolio", portfolio_path %> </li>
    <li><%= link_to "Privacy Policy", privacy_path %> </li>
  </ul>
</div>